body {
  margin: 0;
  -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
}

html{
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, #3B1D60, #040D3E);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}